<div class="row-cols">
<div id="footer" class="breadcrumb ">

  <li class="breadcrumb-item "><a id="Anasayfa"  href="#">Anasayfa</a></li>
  <li class="breadcrumb-item" ><a id="Kullanıcı" href="#">Kullanıcı Sözleşmesi</a>
  </li>
  <li class="breadcrumb-item active" id="Gizlilik" aria-current="page">Gizlilik Sözleşmesi</li>
  <a class="icons-sm fb-ic "><mdb-icon id="facebook"  fab icon="facebook-f"></mdb-icon></a>


  <a class="icons-sm tw-ic"><mdb-icon id="twitter" fab icon="twitter"></mdb-icon></a>

</div>


</div>

