
<div class="row-cols">

  <!-- As a heading -->
  <nav id="nav" class="navbar sticky-top navbar-dark " >
    <div class="container-fluid">
      <a id="bulutmd" class="navbar-brand"  href="#">Bulut MD</a>

      <div class="justify-content-md-end">
        <span id="giris" class="badge ">Giriş</span>
        <button id="denemebaslat" class="btn btn-danger"  type="button">Deneme Başlat</button>
      </div>

    </div>
  </nav>

<nav id="popüler" class="navbar navbar-dark" >
  <div class="container-fluid">
    <a id="bulutmd" class="navbar-brand"  href="#">Popüler başlıklar</a>
    <a class="navbar-brand"></a>
  </div>
</nav>

</div>





