
<div class="row-cols-7">
<div id="kart"  routerLink="filmlist"   class="card" style="width: 16rem;">
  <img  class="card-img-top"   src="./assets/img/film.png"  alt="Card image cap">
  <div  class="card-body">
  </div>

</div>



<div id="kart1" routerLink="serieslist"    class="card" style="width: 16rem;">
  <img  class="card-img-top"  src="./assets/img/dizi.png" alt="Card image cap">
  <div class="card-body">
  </div>

</div>






<div id="film">
<p>FİLM</p>
</div>

<div>
<p id="dizi">DİZİ</p>
</div>


<!--
 <div class="row">


  <div  *ngFor="let property of properties |filter:Title:'pragramType' |acilis:[SortbyParam,SortDirection]" class="shadow-xl ">

   <app-films  [property]="property"></app-films>

 </div> -->
</div>
